{% extends "account/base.html" %}

{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block content %}
{% load static %}
<div class="text-center my-3">
    <img src="{% static 'images/logo.png' %}" alt="logo" width="100">
</div>

<div class="container-fluid ">
  <div class=" no-pdding login-box">
    <div class="row no-margin w-100 bklmj">
      <div class="col-lg-6 col-md-6 log-det">
        <h2>{% translate "Sign In" %}</h2>
        <div class="row no-margin past">
          <p>{% translate "Don't Have an Account?" %} <span>{% translate "Create your Account" %}</span></p>
        </div>
        <form action="{% url 'account_login' %}" class="login" method="POST">
          {% csrf_token %}
          <div class="text-box-cont">
            <div class="input-group mb-3">
              {{ form.login|add_class:'form-control' }}
            </div>
            <div class="input-group mb-3">
              {{ form.password|add_class:'form-control' }}
            </div>
            <div class="row no-margin">
              <a class="forget-p" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
            </div>
            <div class="right-bkij mb-3">
              <button class="btn btn-success btn-round" type="submit">{% translate "Sign In" %}</button>
            </div>
            <br>
            <div class="row linkoi">
              <div class="col-sm-5">
                <p>{% translate "Or login with" %}</p>
              </div>
              <div class="col-sm-7">
                <ul>
                  <li><i class="fa fa-github"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="col-lg-6 col-md-6 box-de">
        <div class="ditk-inf">
          <h2 class="w-100">{% translate "Welcome Back" %}</h2>
          <p>{% translate "Simply Create your account by" %} <br> {% translate "clicking the Signup Button" %}</p>
          <a class="btn btn-outline-light" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
