{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block content %}
{% load static %}
<div class="text-center my-3">
    <img src="{% static 'images/logo.png' %}" alt="logo" width="100">
</div>

<div class="container-fluid ">
  <div class=" no-pdding login-box">
    <div class="row no-margin w-100 bklmj">
      <div class="col-lg-6 col-md-6 log-det">
        <h1>{% if token_fail %}{% translate "Bad Token" %}{% else %}{% translate "Change Password" %}{% endif %}</h1>
        <div class="row no-margin past">
          <p>{% translate "Don't Have an Account?" %} <span><a href="{% url 'account_signup' %}">{% translate "Create your Account" %}</a></span>
        </div>
        <p>{% translate 'Your password is now changed.' %}</p>
      </div>
      <div class="col-lg-6 col-md-6 box-de">
        <div class="ditk-inf">
          <h2 class="w-100">{% translate "Welcome Back" %}</h2>
          <p>{% translate "Simply Sign In your account by" %} <br> {% translate "clicking the SignIn Button" %}</p>
          <a class="btn btn-outline-light" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
