{% extends "account/base.html" %}

{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div class="container-fluid ">
  <div class=" no-pdding login-box">
    <div class="row no-margin w-100 bklmj">
      <div class="col-lg-6 col-md-6 log-det">
        <h2>{% translate "Password Reset" %}</h2>
        <div class="row no-margin past">
          <p>{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>

        <form action="{% url 'account_reset_password' %}" class="password_reset" method="POST"
              xmlns="http://www.w3.org/1999/html">
          {% csrf_token %}
          <div class="text-box-cont">
            <div class="input-group mb-3">
              {{ form.email|add_class:'form-control' }}
            </div>
            <div class="row no-margin">
              <p class="forget-p">{% blocktranslate %}Please contact us if you have any trouble by resetting your
                password.{% endblocktranslate %}</p>
            </div>
            <div class="right-bkij mb-3">
              <input class="btn btn-success btn-round" type="submit" value="{% translate 'Reset' %}"/>
            </div>
            <br>
            <div class="row linkoi">
              <div class="col-sm-5">
                <p>{% translate "Or login with" %}</p>
              </div>
              <div class="col-sm-7">
                <ul>
                  <li><i class="fa fa-facebook-f"></i></li>
                  <li><i class="fa fa-twitter"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="col-lg-6 col-md-6 box-de">
        <div class="ditk-inf">
          <h2 class="w-100">{% translate "Welcome Back" %}</h2>
          <p>{% translate "Simply Create your account by" %} <br> {% translate "clicking the Signup Button" %}</p>
          <a class="btn btn-outline-light" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
