{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block content %}

<div class="container-fluid ">
  <div class=" no-pdding login-box">
    <div class="row no-margin w-100 bklmj">
      <div class="col-lg-6 col-md-6 log-det">
        <h2>{% translate "Password Reset" %}</h2>
        <div class="row no-margin past">
          <p>{% translate "Don't Have an Account?" %} <span><a href="{% url 'account_signup' %}">{% translate "Create your Account" %}</a></span>
          </p>
        </div>
        <div class="text-box-cont">
          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
          <p>{% translate "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes" %}</p>
          <br>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 box-de">
        <div class="ditk-inf">
          <h2 class="w-100">{% translate "Welcome Back" %}</h2>
          <p>{% translate "Simply Sign In your account by" %} <br> {% translate "clicking the SignIn Button" %}</p>
          <a class="btn btn-outline-light" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
